.info-panel {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    width: 40%;
    opacity: 1;
    background-color: darkgray;
    height: 100%;
    transition: right .5s, opacity .5s, transform .5s;

    &.hide {
        opacity:0;
        right: -40%;
    }
}

.modal-overlay {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9000;
    transition: opacity .5s z-index .5s;
    &.hide {
        opacity: 0;
        z-index: -1;
    }
}

@media(max-width:768px) {
    .info-panel {
        width: 100%;
    }
}


