<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
<link href='http://fonts.googleapis.com/css?family=Ultra|Architects+Daughter|Press+Start+2P' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css">
</head>
<body style="">

    <div class="navbar navbar-inverse navbar-fixed-top purple-border" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <span><a class="navbar-brand" href="#"><span class="ultra-font large-font">AVANT</span><span class="architect-font purple-font">Grogg</span></a></span>
          <span class="show-text"><span class="white-font medium-font show-feel">feel free to contact me, and lets see what we can make together</span><span class="blue ultra-font medium-font show-button">Contact Me</span></span>
        </div>
        
      </div>
    </div>

    <div class="jumbotron" id="jumbo">
      <div class="container">
        <p>My name is <span class="red ultra-font">Doug Grogg</span> I am a web developer working out of <span class="green ultra-font">Philadelphia.</span> If you like what you see feel free to contact me, and lets see what we can make together.</p>
        <div class="blue ultra-font">Contact Me</div>
      </div>
    </div>

    <div class="container thirty">
    	<div class="row">
			<div class="col-md-5">
				<img src="img/paste.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<span class="ultra-font">PASTE</span>
				</div>
				<div class="site-sponsor">
					<div class="sponsor-title">Client: </div>
					<div class="sponsor-name">Paste Magazine</div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<span>Bacon ipsum dolor sit amet flank ham hock jerky, hamburger turkey venison shank kielbasa boudin fatback pork chop. Boudin shank shoulder swine turducken turkey. Leberkas boudin ham hock pork belly. Kielbasa tenderloin tail fatback tongue andouille. Strip steak turkey chicken bresaola. Pork spare ribs pancetta tenderloin flank meatball ham hock chicken pork chop ham ball tip. Shank t-bone chicken filet mignon sausage pork chop doner flank corned beef tri-tip venison beef.</span>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">ROR</div>
					<div class="blue">CSS3</div>
					<div class="green">JS</div>
                    <div class="green">HTML5</div>
                    <div class="blue">OpenX</div>
					<span class="clear"></span>
				</div>
                <span class="clear"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/mplayer2.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<span class="ultra-font">mPlayer</span>
				</div>
				<div class="site-sponsor">
					<div class="sponsor-title">Client: </div>
					<div class="sponsor-name">Paste Magazine</div>
				</div>
                <div class="clear"></div>
                <div class="clear"></div>
				<div class="site-description white-font">
					<span>Bacon ipsum dolor sit amet flank ham hock jerky, hamburger turkey venison shank kielbasa boudin fatback pork chop. Boudin shank shoulder swine turducken turkey. Leberkas boudin ham hock pork belly. Kielbasa tenderloin tail fatback tongue andouille. Strip steak turkey chicken bresaola. Pork spare ribs pancetta tenderloin flank meatball ham hock chicken pork chop ham ball tip. Shank t-bone chicken filet mignon sausage pork chop doner flank corned beef tri-tip venison beef.</span>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">ROR</div>
					<div class="blue">CSS3</div>
                    <div class="green">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/lls.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<span class="ultra-font">eCheckin</span>
				</div>
				<div class="site-sponsor">
					<div class="sponsor-title">Client: </div>
					<div class="sponsor-name">LLS</div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<span>Bacon ipsum dolor sit amet flank ham hock jerky, hamburger turkey venison shank kielbasa boudin fatback pork chop. Boudin shank shoulder swine turducken turkey. Leberkas boudin ham hock pork belly. Kielbasa tenderloin tail fatback tongue andouille. Strip steak turkey chicken bresaola. Pork spare ribs pancetta tenderloin flank meatball ham hock chicken pork chop ham ball tip. Shank t-bone chicken filet mignon sausage pork chop doner flank corned beef tri-tip venison beef.</span>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">PhoneGap</div>
                    <div class="red">Cordova</div>
					<div class="blue">CSS3</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/straightpay.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<span class="ultra-font">StraightPay</span>
				</div>
				<div class="site-sponsor">
					<div class="sponsor-title">Client: </div>
					<div class="sponsor-name">StraightPay</div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<span>Bacon ipsum dolor sit amet flank ham hock jerky, hamburger turkey venison shank kielbasa boudin fatback pork chop. Boudin shank shoulder swine turducken turkey. Leberkas boudin ham hock pork belly. Kielbasa tenderloin tail fatback tongue andouille. Strip steak turkey chicken bresaola. Pork spare ribs pancetta tenderloin flank meatball ham hock chicken pork chop ham ball tip. Shank t-bone chicken filet mignon sausage pork chop doner flank corned beef tri-tip venison beef.</span>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">Joomla</div>
                    <div class="red">PhoneGap</div>
                    <div class="red">Cordova</div>
					<div class="blue">CSS3</div>
                    <div class="blue">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/readitrak.jpg" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<span class="ultra-font">ReadiTrak</span>
				</div>
				<div class="site-sponsor">
					<div class="sponsor-title">Client: </div>
					<div class="sponsor-name">KDAnalytical</div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<span>Bacon ipsum dolor sit amet flank ham hock jerky, hamburger turkey venison shank kielbasa boudin fatback pork chop. Boudin shank shoulder swine turducken turkey. Leberkas boudin ham hock pork belly. Kielbasa tenderloin tail fatback tongue andouille. Strip steak turkey chicken bresaola. Pork spare ribs pancetta tenderloin flank meatball ham hock chicken pork chop ham ball tip. Shank t-bone chicken filet mignon sausage pork chop doner flank corned beef tri-tip venison beef.</span>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">Java</div>
					<div class="blue">CSS3</div>
                    <div class="blue">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/keeks.jpg" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<span class="ultra-font">Keeks</span>
				</div>
				<div class="site-sponsor">
					<div class="sponsor-title">Client: </div>
					<div class="sponsor-name">Keeks</div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<span>Bacon ipsum dolor sit amet flank ham hock jerky, hamburger turkey venison shank kielbasa boudin fatback pork chop. Boudin shank shoulder swine turducken turkey. Leberkas boudin ham hock pork belly. Kielbasa tenderloin tail fatback tongue andouille. Strip steak turkey chicken bresaola. Pork spare ribs pancetta tenderloin flank meatball ham hock chicken pork chop ham ball tip. Shank t-bone chicken filet mignon sausage pork chop doner flank corned beef tri-tip venison beef.</span>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">PHP</div>
                    <div class="red">CodeIgniter</div>
					<div class="blue">CSS3</div>
                    <div class="blue">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/pri.jpg" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<span class="ultra-font">PRI</span>
				</div>
				<div class="site-sponsor">
					<div class="sponsor-title">Client: </div>
					<div class="sponsor-name">PRI</div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<span>Bacon ipsum dolor sit amet flank ham hock jerky, hamburger turkey venison shank kielbasa boudin fatback pork chop. Boudin shank shoulder swine turducken turkey. Leberkas boudin ham hock pork belly. Kielbasa tenderloin tail fatback tongue andouille. Strip steak turkey chicken bresaola. Pork spare ribs pancetta tenderloin flank meatball ham hock chicken pork chop ham ball tip. Shank t-bone chicken filet mignon sausage pork chop doner flank corned beef tri-tip venison beef.</span>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">.Net</div>
                    <div class="red">R</div>
					<div class="blue">CSS3</div>
                    <div class="blue">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/stealth.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<span class="ultra-font">Stealth</span>
				</div>
				<div class="site-sponsor">
					<div class="sponsor-title">Client: </div>
					<div class="sponsor-name">Stealth Analyitcs</div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<span>Bacon ipsum dolor sit amet flank ham hock jerky, hamburger turkey venison shank kielbasa boudin fatback pork chop. Boudin shank shoulder swine turducken turkey. Leberkas boudin ham hock pork belly. Kielbasa tenderloin tail fatback tongue andouille. Strip steak turkey chicken bresaola. Pork spare ribs pancetta tenderloin flank meatball ham hock chicken pork chop ham ball tip. Shank t-bone chicken filet mignon sausage pork chop doner flank corned beef tri-tip venison beef.</span>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">Java</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/cube.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<span class="ultra-font">u-Stor-it</span>
				</div>
				<div class="site-sponsor">
					<div class="sponsor-title">Client: </div>
					<div class="sponsor-name">CubeSmart</div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<span>Bacon ipsum dolor sit amet flank ham hock jerky, hamburger turkey venison shank kielbasa boudin fatback pork chop. Boudin shank shoulder swine turducken turkey. Leberkas boudin ham hock pork belly. Kielbasa tenderloin tail fatback tongue andouille. Strip steak turkey chicken bresaola. Pork spare ribs pancetta tenderloin flank meatball ham hock chicken pork chop ham ball tip. Shank t-bone chicken filet mignon sausage pork chop doner flank corned beef tri-tip venison beef.</span>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">PHP</div>
                    <div class="red">CodeIgniter</div>
					<div class="blue">CSS3</div>
                    <div class="blue">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/clutch.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<span class="ultra-font">Clutch</span>
				</div>
				<div class="site-sponsor">
					<div class="sponsor-title">Client: </div>
					<div class="sponsor-name">Clutch</div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<span>Bacon ipsum dolor sit amet flank ham hock jerky, hamburger turkey venison shank kielbasa boudin fatback pork chop. Boudin shank shoulder swine turducken turkey. Leberkas boudin ham hock pork belly. Kielbasa tenderloin tail fatback tongue andouille. Strip steak turkey chicken bresaola. Pork spare ribs pancetta tenderloin flank meatball ham hock chicken pork chop ham ball tip. Shank t-bone chicken filet mignon sausage pork chop doner flank corned beef tri-tip venison beef.</span>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">ColdFusion</div>
                    <div class="red">CFWheels</div>
					<div class="blue">CSS3</div>
                    <div class="blue">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
        <div class="row">
			<div class="col-md-5">
				<img src="img/slaptalk.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<span class="ultra-font">Slaptalk</span>
				</div>
				<div class="site-sponsor">
					<div class="sponsor-title">Client: </div>
					<div class="sponsor-name">Slaptalk</div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<span>Bacon ipsum dolor sit amet flank ham hock jerky, hamburger turkey venison shank kielbasa boudin fatback pork chop. Boudin shank shoulder swine turducken turkey. Leberkas boudin ham hock pork belly. Kielbasa tenderloin tail fatback tongue andouille. Strip steak turkey chicken bresaola. Pork spare ribs pancetta tenderloin flank meatball ham hock chicken pork chop ham ball tip. Shank t-bone chicken filet mignon sausage pork chop doner flank corned beef tri-tip venison beef.</span>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">PHP</div>
                    <div class="red">Kohana</div>
					<div class="blue">CSS3</div>
                    <div class="blue">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
        <div class="row">
			<div class="col-md-5">
				<img src="img/zecozi.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<span class="ultra-font">Zecozi</span>
				</div>
				<div class="site-sponsor">
					<div class="sponsor-title">Client: </div>
					<div class="sponsor-name">Zecozi</div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<span>Bacon ipsum dolor sit amet flank ham hock jerky, hamburger turkey venison shank kielbasa boudin fatback pork chop. Boudin shank shoulder swine turducken turkey. Leberkas boudin ham hock pork belly. Kielbasa tenderloin tail fatback tongue andouille. Strip steak turkey chicken bresaola. Pork spare ribs pancetta tenderloin flank meatball ham hock chicken pork chop ham ball tip. Shank t-bone chicken filet mignon sausage pork chop doner flank corned beef tri-tip venison beef.</span>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">PHP</div>
                    <div class="red">CodeIgniter</div>
					<div class="blue">CSS3</div>
                    <div class="blue">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		
	</div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>