<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Ultra|Architects+Daughter' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css">
</head>
<body style="">

    <div class="navbar navbar-inverse navbar-fixed-top purple-border" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span><a class="navbar-brand" href="#"><span class="ultra-font large-font">AVANT</span><span class="architect-font purple-font">Grogg</span></a></span>
        </div>
        
      </div>
    </div>

    <div class="container thirty">
    	<div class="row">
			<div class="col-md-5">
				<img src="img/paste.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<span class="ultra-font">PASTE</span>
				</div>
				<div class="site-sponsor">
					<span>Paste Magazine</span>
				</div>
				<div class="site-description white-font">
					<span>Bacon ipsum dolor sit amet flank ham hock jerky, hamburger turkey venison shank kielbasa boudin fatback pork chop. Boudin shank shoulder swine turducken turkey. Leberkas boudin ham hock pork belly. Kielbasa tenderloin tail fatback tongue andouille. Strip steak turkey chicken bresaola. Pork spare ribs pancetta tenderloin flank meatball ham hock chicken pork chop ham ball tip. Shank t-bone chicken filet mignon sausage pork chop doner flank corned beef tri-tip venison beef.</span>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">RUBY</div>
					<div class="blue">CSS3</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/paste.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<span class="ultra-font">PASTE</span>
				</div>
				<div class="site-sponsor">
					<span>Paste Magazine</span>
				</div>
				<div class="site-description white-font">
					<span>Bacon ipsum dolor sit amet flank ham hock jerky, hamburger turkey venison shank kielbasa boudin fatback pork chop. Boudin shank shoulder swine turducken turkey. Leberkas boudin ham hock pork belly. Kielbasa tenderloin tail fatback tongue andouille. Strip steak turkey chicken bresaola. Pork spare ribs pancetta tenderloin flank meatball ham hock chicken pork chop ham ball tip. Shank t-bone chicken filet mignon sausage pork chop doner flank corned beef tri-tip venison beef.</span>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">RUBY</div>
					<div class="blue">CSS3</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
	</div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
  

</body>
</html>