<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Ultra|Architects+Daughter' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css">
</head>
<body style="">

    <div class="navbar navbar-inverse navbar-fixed-top purple-border" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span><a class="navbar-brand" href="#"><span class="ultra-font large-font">AVANT</span><span class="architect-font purple-font">Grogg</span></a></span>
        </div>

        
      </div>
    </div>
    <div style="text-align:center;margin-top: 300px; font-size: 36px;" class="purple-font architect-font">soon.</div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
 var stickyTop = 120;
 var buttonTop = 180;
  $(window).scroll(function(){ // scroll event  
 
    var windowTop = $(window).scrollTop(); // returns number
 
    if (stickyTop < windowTop) {
      $('.show-text').fadeIn('slow');
      if (buttonTop < windowTop) {
      	$('.show-button').fadeIn('slow');
      }
      else{
      	$('.show-button').fadeOut('slow');
      }
    }
    else {
      $('.show-text').fadeOut('slow');
    }
});

    </script>
  

</body>
</html>