<html>
<head>
<style>
body{
	background-color: #000;
	margin: 0px auto;
	text-align: center;
}
.large-text{
	margin-top: 20%;
	font-size: 36px;
	color: #fff;
}

</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

</head>
<body>
<p class="large-text">soon.</p>
</body>
</html>