<html>
<head>
<title>AvantGrogg</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
<link href='http://fonts.googleapis.com/css?family=Ultra|Architects+Daughter|Press+Start+2P' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css">
</head>
<body style="">

    <div class="navbar navbar-inverse navbar-fixed-top purple-border" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <span><a class="navbar-brand" href="#"><span class="ultra-font large-font">AVANT</span><span class="architect-font purple-font">Grogg</span></a></span>
          <span class="show-text"><span class="white-font medium-font show-feel">feel free to contact me, and lets see what we can make together</span><span class="blue ultra-font medium-font show-button">Contact Me</span></span>
        </div>
        
      </div>
    </div>

    <div class="jumbotron" id="jumbo">
      <div class="container">
        <p>My name is <span class="red ultra-font">Doug Grogg</span> I am a web developer working out of <span class="green ultra-font">Philadelphia.</span> If you like what you see feel free to contact me, and lets see what we can make together.</p>
        <div class="blue ultra-font">Contact Me</div>
      </div>
    </div>

    <div class="container thirty">
    	<div class="row">
			<div class="col-md-5">
				<img src="img/paste.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<div class="red-box ultra-font">PASTE</div>
                    <div class="white-box"></div>
                    <div class="black-box"><span>Paste Magazine</span></div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<ul>
                        <li><span class="glyphicon glyphicon-ok-sign red-check"></span>Setup a reverse proxy server using apache and passenger.</li>
                        <li><span class="glyphicon glyphicon-ok-sign blue-check"></span>Did a complete site update making the site more in line with the clients current brand strategy.</li>
                        <li><span class="glyphicon glyphicon-ok-sign purple-check"></span>Setup OpenX Pro and maintained ad delivery through various campaigns.</li>
                    </ul>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">ROR</div>
					<div class="blue">CSS3</div>
					<div class="green">JS</div>
                    <div class="blue">HTML5</div>
                    <div class="purple">OpenX</div>
					<span class="clear"></span>
				</div>
                <span class="clear"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/mplayer2.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<div class="red-box ultra-font">mPLAYER</div>
                    <div class="white-box"></div>
                    <div class="black-box"><span>Paste Magazine</span></div>
				</div>
                <div class="clear"></div>
                <div class="clear"></div>
				<div class="site-description white-font">
					<ul>
                        <li><span class="glyphicon glyphicon-ok-sign red-check"></span>Wrote custom feeds for a .net equivalent to consume.</li>
                        <li><span class="glyphicon glyphicon-ok-sign blue-check"></span>Maintained and updated pages.</li>
                        <li><span class="glyphicon glyphicon-ok-sign red-check"></span>Wrote custom queries for moveable type database.</li>
                        <li><span class="glyphicon glyphicon-ok-sign red-check"></span>Wrote ruby app to process subscription data.</li>
                    </ul>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">ROR</div>
					<div class="blue">CSS3</div>
                    <div class="blue">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/lls.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<div class="red-box ultra-font">eCHECKIN</div>
                    <div class="white-box"></div>
                    <div class="black-box"><span>LLS</span></div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<ul>
                        <li><span class="glyphicon glyphicon-ok-sign red-check"></span>Worked on app using phonegap and cordova framework.</li>
                    </ul>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="purple">PhoneGap</div>
                    <div class="purple">Cordova</div>
					<div class="blue">CSS3</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/straightpay.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<div class="red-box ultra-font">STRAIGHTPAY</div>
                    <div class="white-box"></div>
                    <div class="black-box"><span>Straightpay</span></div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<ul>
                        <li><span class="glyphicon glyphicon-ok-sign red-check"></span>Created user/merchant portals using code igniter including a virtual terminal.</li>
                        <li><span class="glyphicon glyphicon-ok-sign blue-check"></span>Did project management/code review for a team of offshore engineers.</li>
                        <li><span class="glyphicon glyphicon-ok-sign purple-check"></span>Created a custom joomla site.</li>
                    </ul>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">Joomla</div>
                    <div class="purple">PhoneGap</div>
                    <div class="purple">Cordova</div>
					<div class="blue">CSS3</div>
                    <div class="blue">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/readitrak.jpg" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<div class="red-box ultra-font">ReadiTrak</div>
                    <div class="white-box"></div>
                    <div class="black-box"><span>KDAnalytical</span></div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<ul>
                        <li><span class="glyphicon glyphicon-ok-sign red-check"></span>Updated the interface to match clients design.</li>
                    </ul>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">Java</div>
					<div class="blue">CSS3</div>
                    <div class="blue">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/keeks.jpg" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<div class="red-box ultra-font">Keeks</div>
                    <div class="white-box"></div>
                    <div class="black-box"><span>Keeks</span></div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<ul>
                        <li><span class="glyphicon glyphicon-ok-sign red-check"></span>Integrated with the PayPal payment platform.</li>
                        <li><span class="glyphicon glyphicon-ok-sign blue-check"></span>Developed a custom recommendation system based on user preferences and page views.</li>
                        <li><span class="glyphicon glyphicon-ok-sign purple-check"></span>Added a cron job to process payments for vendors.</li>
                    </ul>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">PHP</div>
                    <div class="purple">CodeIgniter</div>
					<div class="blue">CSS3</div>
                    <div class="blue">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/pri.jpg" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<div class="red-box ultra-font">PRI</div>
                    <div class="white-box"></div>
                    <div class="black-box"><span>PRI</span></div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<ul>
                        <li><span class="glyphicon glyphicon-ok-sign red-check"></span>Created views to match the clients designs.</li>
                        <li><span class="glyphicon glyphicon-ok-sign blue-check"></span>Integrated js graph/charts to display R statistical results</li>
                    </ul>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">.Net</div>
                    <div class="purple">R</div>
					<div class="blue">CSS3</div>
                    <div class="blue">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/stealth.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<div class="red-box ultra-font">Stealth</div>
                    <div class="white-box"></div>
                    <div class="black-box"><span>Stealth Analytics</span></div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<ul>
                        <li><span class="glyphicon glyphicon-ok-sign red-check"></span>Modified user interface.</li>
                        <li><span class="glyphicon glyphicon-ok-sign blue-check"></span>Created a custom java help interface.</li>
                    </ul>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">Java</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/cube.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<div class="red-box ultra-font">u-STOR-IT</div>
                    <div class="white-box"></div>
                    <div class="black-box"><span>CubeSmart</span></div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<ul>
                        <li><span class="glyphicon glyphicon-ok-sign red-check"></span>Created an ajax/json heavy interface.</li>
                    </ul>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">PHP</div>
                    <div class="purple">CodeIgniter</div>
					<div class="blue">CSS3</div>
                    <div class="blue">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<img src="img/clutch.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<div class="red-box ultra-font">CLUTCH</div>
                    <div class="white-box"></div>
                    <div class="black-box"><span>Clutch</span></div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<ul>
                        <li><span class="glyphicon glyphicon-ok-sign red-check"></span>Built a user portal that was mvc and matched the clients design.</li>
                    </ul>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">ColdFusion</div>
                    <div class="purple">CFWheels</div>
					<div class="blue">CSS3</div>
                    <div class="blue">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
        <div class="row">
			<div class="col-md-5">
				<img src="img/slaptalk.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<div class="red-box ultra-font">SLAPTALK</div>
                    <div class="white-box"></div>
                    <div class="black-box"><span>Slaptalk</span></div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<ul>
                        <li><span class="glyphicon glyphicon-ok-sign red-check"></span>Created an ajax/json heavy interface.</li>
                        <li><span class="glyphicon glyphicon-ok-sign blue-check"></span>Designed and implemented a custom log and alert system for site interactions.</li>
                    </ul>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">PHP</div>
                    <div class="purple">Kohana</div>
					<div class="blue">CSS3</div>
                    <div class="blue">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
        <div class="row">
			<div class="col-md-5">
				<img src="img/zecozi.png" width="100%"/>
			</div>
			<div class="col-md-6 col-md-offset-1 align-left">
				<div class="site-title">
					<div class="red-box ultra-font">ZECOZI</div>
                    <div class="white-box"></div>
                    <div class="black-box"><span>Zecozi</span></div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>
				<div class="site-description white-font">
					<ul>
                        <li><span class="glyphicon glyphicon-ok-sign red-check"></span>Created an ajax/json heavy interface.</li>
                        <li><span class="glyphicon glyphicon-ok-sign blue-check"></span>Worked on a socket interface to allow collaborative shopping.</li>
                        <li><span class="glyphicon glyphicon-ok-sign purple-check"></span>Built a custom js library.</li>
                    </ul>
				</div>
				<span class="architect-font white-font medium-font">Technology Used</span>
				<div class="site-tags">
					<div class="red">PHP</div>
                    <div class="purple">CodeIgniter</div>
					<div class="blue">CSS3</div>
                    <div class="blue">HTML5</div>
					<div class="green">JS</div>
					<span class="clear"></span>
				</div>
			</div>
		</div>
		
	</div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>