<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bulma.css' />
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    {{{body}}}
    <footer>
      <script src="/javascripts/bundle.js"></script>
    </footer>
  </body>
</html>
