@media screen and (min-width: 1024px) {
  .show-text {
    font-size: 18px !important; }

  .thirty img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    transition: margin 1s, filter 1s, -webkit-filter 1s; }
    .thirty img:hover {
      margin-top: 10px;
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }

  .site-title {
    width: 50% !important; } }
@media screen and (min-width: 320px) and (max-width: 600px) {
  .show-text {
    font-size: 12px !important; }

  .show-feel {
    display: none !important; }

  .show-button {
    padding: 4px !important;
    font-size: 10px !important; }

  .site-tags {
    width: 100% !important; }

  #jumbo {
    padding-left: 15px !important;
    margin-top: 60px;
    background-image: url("/img/escheresque_ste.png"); }
    #jumbo p {
      color: white;
      font-size: 12px; }
    #jumbo .red {
      line-height: 14px !important;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 1px !important;
      font-size: 14px !important; }
    #jumbo .green {
      line-height: 14px !important;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 1px !important;
      font-size: 12px !important; }
    #jumbo .blue {
      width: 200px !important;
      line-height: 28px !important;
      padding: 2px !important;
      font-size: 24px !important;
      text-align: center;
      float: right;
      margin-right: 30px !important;
      transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      /* IE 9 */
      -webkit-transform: rotate(-5deg);
      /* Safari and Chrome */
      filter: none !important;
      -webkit-filter: none !important;
      -moz-filter: none !important; }

  .thirty .col-md-5, .thirty .col-md-6 {
    padding-left: 0px !important;
    padding-right: 0px !important; }
  .thirty img {
    filter: none !important;
    -webkit-filter: none !important;
    -moz-filter: none !important; }
    .thirty img:hover {
      margin-top: 0px !important; }

  .site-title {
    margin-top: 40px;
    width: 75% !important; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .show-text {
    font-size: 12px !important; }

  #jumbo {
    margin-top: 60px;
    background-image: url("/img/escheresque_ste.png"); }
    #jumbo p {
      color: white; }
    #jumbo .red {
      line-height: 60px;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      font-size: 36px; }
    #jumbo .green {
      line-height: 60px;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      font-size: 28px; }
    #jumbo .blue {
      width: 40% !important;
      line-height: 60px;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      font-size: 28px;
      text-align: center;
      float: right;
      margin-right: 20px !important;
      transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      /* IE 9 */
      -webkit-transform: rotate(-5deg);
      /* Safari and Chrome */
      filter: grayscale(0%) !important;
      -webkit-filter: grayscale(0%) !important;
      -moz-filter: grayscale(0%) !important; }

  .thirty img {
    filter: grayscale(0%) !important;
    -webkit-filter: grayscale(0%) !important;
    -moz-filter: grayscale(0%) !important; }
    .thirty img:hover {
      margin-top: 0px !important; }
  .thirty .site-title {
    margin-top: 40px;
    width: 60% !important; } }
body {
  background-image: url("/img/binding_dark.png"); }

.clear {
  clear: both; }

.align-left {
  text-align: left; }

.text-center {
  font-size: 36px;
  color: white; }

.purple {
  background-color: #7d26cd; }

.red {
  background-color: #e03a3a; }

.green {
  background-color: #1fa51f; }

.blue {
  background-color: #2121cc; }

.charcoal {
  background-color: #2e2e2e; }

.large-font {
  font-size: 36px !important; }

.ultra-font {
  color: white !important;
  font-family: 'Ultra', serif; }

.purple-font {
  color: #7d26cd !important; }

.white-font {
  color: white !important; }

.architect-font {
  font-family: 'Architects Daughter', cursive;
  vertical-align: 13px; }

.show-text {
  display: none;
  line-height: 55px; }

.show-button {
  padding: 5px;
  margin-left: 10px; }

.purple-border {
  border-bottom: 10px solid #7d26cd !important;
  background-color: black !important; }

.navbar a:hover {
  color: #7d26cd !important; }

#jumbo {
  margin-top: 60px;
  background-image: url("/img/escheresque_ste.png"); }
  #jumbo p {
    color: white; }
  #jumbo .red {
    line-height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 36px; }
  #jumbo .green {
    line-height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 28px; }
  #jumbo .blue {
    width: 20%;
    line-height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 28px;
    text-align: center;
    float: right;
    margin-right: 200px;
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    /* IE 9 */
    -webkit-transform: rotate(-5deg);
    /* Safari and Chrome */
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    transition: filter 3s, -webkit-filter 3s; }
    #jumbo .blue:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      cursor: pointer; }

.thirty {
  padding-top: 50px;
  text-align: center; }
  .thirty img {
    background-color: white;
    border: 1px solid black;
    margin-bottom: 5px;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000; }
  .thirty .row {
    margin-bottom: 20px; }

.site-title {
  line-height: 40px;
  background-color: #e03a3a;
  border-bottom: 4px solid white;
  padding-left: 10px;
  font-size: 24px;
  margin-bottom: 5px;
  transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  /* IE 9 */
  -webkit-transform: rotate(-5deg);
  /* Safari and Chrome */
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  transition: -webkit-transform 2s; }
  .site-title:hover {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg); }

.site-sponsor {
  width: 50%; }
  .site-sponsor .sponsor-title {
    float: left;
    line-height: 28px;
    padding-left: 60px;
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    /* IE 9 */
    -webkit-transform: rotate(-5deg);
    /* Safari and Chrome */ }
  .site-sponsor .sponsor-name {
    float: right;
    line-height: 28px;
    background-color: #7d26cd;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    /* IE 9 */
    -webkit-transform: rotate(-5deg);
    /* Safari and Chrome */
    border-bottom: 2px solid white;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000; }

.site-description {
  margin-top: 40px;
  text-align: left;
  font-size: 16px;
  margin-bottom: 20px; }

.site-tags {
  width: 50%;
  margin-bottom: 60px; }
  .site-tags div {
    float: left;
    padding-left: 10px;
    line-height: 20px;
    padding-right: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: white;
    border-bottom: 4px solid white;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000; }
