body {
  background-image: url("/img/binding_dark.png"); }

.ultra-font {
  color: white !important;
  font-family: 'Ultra', serif;
  font-size: 36px !important; }

.architect-font {
  font-family: 'Architects Daughter', cursive;
  vertical-align: 13px;
  color: #7d26cd !important; }

.purple-border {
  border-bottom: 10px solid #7d26cd !important;
  background-color: black !important; }

.thirty {
  padding-top: 300px;
  text-align: center; }

.text-center {
  font-size: 36px;
  color: white; }

.navbar a:hover {
  color: #7d26cd !important; }
